{% extends "_base.html" %}
{% load static %} 

{% block title %}Home{% endblock %}

{% block content %}

<link href="https://fonts.googleapis.com/css2?family=Sarabun:wght@400;700&family=Prompt:wght@400;700&family=Mitr:wght@400;700&display=swap" rel="stylesheet">

<div class="box border border-4 w-32 h-32 border-blue-800 p-4 text-center rounder font-Srisakdi text-4xl">
    สวัสดีมนุษย์
</div>


<div class="flex gap-2 justify-between">
    <div class="p-4 text-black bg-red-500 mt-5">1</div>
    <div class="p-4 text-black bg-red-500 mt-5">2</div>
    <div class="p-4 text-black bg-red-500 mt-5">3</div>
    <div class="p-4 text-black bg-red-500 mt-5">4</div>
    <div class="p-4 text-black bg-red-500 mt-5">5</div>
</div>


<div class="p-4 mt-4">
    <h1 id="head" class="text-2xl text-center font-Charm">สวัสดีชาวโลก</h1>
    <button class="bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded-full mt-2 font-sarabun" onclick="toggleColor()">เปลี่ยนสี</button></div>
        
<div id="currentDateTime" class="p-4 mt-4 text=4xl font-Charm">
    <script>UpdeteTime();</script>

</div>

<div class="mt-4"> 
    <img id="myImage" src="static/images/Idle.png" width="200px">
    <button class="bg-transparent hover:bg-blue-500 text-blue-700 font-sarabun hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded" onclick="document.getElementById('myImage').src='static/images/Idle.png';">แมวยืน</button>
    <button class="bg-transparent hover:bg-blue-500 text-blue-700 font-sarabun hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded" onclick="document.getElementById('myImage').src='static/images/Slide.png';">แมวสไลด์</button>
</div>

<div class="mt-4">

    <button class="bg-transparent hover:bg-blue-500 text-blue-700 font-sarabun hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded" onclick="DisplayTable('visible')">แสดงตาราง</button>
    <button class="bg-transparent hover:bg-blue-500 text-blue-700 font-sarabun hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded" onclick="DisplayTable('hidden')">ซ่อนตาราง</button>

    <table id="myTable" class="table-auto border border-collapse border-gray-400">
        <caption class="font-bold text-lg mb-2">ตารางสินค้า</caption>
        <tr>
            <th class="border border-gray-400 p-2 bg-blue-300 text-center">รายการที่ 1</th>
            <th class="border border-gray-400 p-2 bg-blue-300 text-center">รายการที่ 2</th>
            <th class="border border-gray-400 p-2 bg-blue-300 text-center">รายการที่ 3</th>
        </tr>
        <tr>
            <td class="border border-gray-400 p-2 text-center">123</td>
            <td class="border border-gray-400 p-2 text-center">456</td>
            <td class="border border-gray-400 p-2 text-center">789</td>
        </tr>
        <tr>
            <td class="border border-gray-400 p-2 text-center">777</td>
            <td class="border border-gray-400 p-2 text-center">888</td>
            <td class="border border-gray-400 p-2 text-center">999</td>
        </tr>
    </table>
</div>

<div class="mt-4">
    number #1<input class="ml-2 border-2 boeder-slate-900" type="number" id="num1"><br />
    number #2<input class="ml-2 border-2 boeder-slate-900" type="number" id="num2"><br />
    number #3<input class="ml-2 border-2 boeder-slate-900" type="number" id="num3"><br />
    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 rounded text-xs" onclick="calAverage()">Summit</button>
</div>
<div class="mt-2 text-2xl" id="result"></div>

{% endblock content %}
